:root {
  --primary-brand: #4d5ae5;
  --dark: #2e2f42;
  --pressed-state: #404bbf;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white: #fff;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ==============Header======================= */
.header {
  background-color: var(--white);
  border-bottom: 1px solid #e7e9fc;
  padding-top: 24px;
  padding-bottom: 24px;

  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 480px) {
  .container {
    width: 428px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 767px) {
  .page-header-container {
    flex-wrap: wrap;
  }
}

/* --------------LOGO------------------------- */
.studio-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark);
  text-decoration: none;
}

.logo {
  color: var(--primary-brand);
}

@media screen and (min-width: 768px) {
  .studio-logo {
    margin-right: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .studio-logo {
    line-height: 1.33;
    margin-right: 76px;
  }
}
/* -----------------Navigation MENU--------------- */

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .menu {
    margin-right: 118px;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    gap: 40px;
  }

  .menu .menu-item .link-current {
    color: var(--pressed-state);
    position: relative;
  }

  .menu .menu-item .link-current::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    margin-bottom: -34px;
    background-color: var(--pressed-state);
  }

  .navigation .link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark);
    text-decoration: none;

    transition: color var(--transition);
  }

  .navigation .link:hover,
  .navigation .link:focus {
    color: var(--pressed-state);
  }
}

@media screen and (min-width: 1200px) {
  .menu .menu-item .link-current::after {
    margin-bottom: -28px;
  }
}
/* ----------------Address---------------------- */

@media screen and (max-width: 767px) {
  .address {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .link-address {
    color: var(--text);
    text-decoration: none;
  }

  .address {
    font-style: normal;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
  }

  .link-address:hover,
  .link-address:focus {
    color: var(--pressed-state);
  }

  .tel {
    display: inline-block;
    margin-bottom: 4px;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-left: auto;
  }

  .tel {
    margin-right: 40px;
    margin-bottom: 0;
  }
}
/* ==============MOBILE MENU===================*/

/*--------------Button-open--------------- */
.mobile-menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}
@media screen and (max-width: 767px) {
  /* ------------------Button-close -----------*/
  .mobile-menu-close {
    position: absolute;
    top: 40px;
    right: 40px;

    width: 24px;
    height: 24px;

    padding: 0;
    border-radius: 50%;
    background: var(--accent);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .mobile-menu-close__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /*---------------Menu-mobile-Backdrop+Container--------------*/

  .mobile-container {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 40px;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    max-height: 796px;
    background-color: var(--white);
    overflow-y: scroll;

    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  /* ----------------Mobile-menu-nav---------------- */
  .mobile-menu-list {
    display: flex;
    gap: 40px;
    flex-direction: column;
  }

  .mobile-menu-list .link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--dark);
  }

  .mobile-menu-list .mobile-menu-item .link-current {
    color: var(--pressed-state);
    position: relative;
  }

  /* ------------Mobile-menu-address-------------- */

  .mobile-address-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
  }

  .mobile-item-tel {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: var(--primary-brand);
  }

  .mobile-item-mail {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text);
  }

  .mobile-link-address {
    text-decoration: none;
  }

  .color {
    color: var(--text);
  }

  /* --------------Mobile-menu-social-list------------ */

  .mobile-social-list {
    display: flex;
    column-gap: 56px;
    flex-wrap: wrap;
  }

  .mobile-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-brand);

    transition: background-color var(--transition);
  }

  .mobile-social-icon {
    fill: var(--light);
  }
}
/* ------Mobile-menu-off--------------- */
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .mobile-menu-open {
    display: none;
  }
}
/* ==============/MOBILE MENU=================== */

/* ================HERO=========================== */
.hero-bgc {
  background-color: var(--dark);
  text-align: center;
  padding-bottom: 112px;
  padding-top: 112px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-bgc {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg/hero-bg-mobile@2x.jpg);
  }
}

.hero {
  max-width: 319px;
  width: 100%;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--white);

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;

  text-align: center;
}

.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: inline-block;
  letter-spacing: 0.04em;
  background-color: var(--primary-brand);
  color: var(--white);

  width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;

  transition: background-color var(--transition), box-shadow var(--transition);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-state);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* -----------------Hero-Tablet-------------------- */

@media screen and (min-width: 768px) {
  .hero {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;

    margin-bottom: 40px;
  }

  .hero-bgc {
    padding-bottom: 192px;
    padding-top: 192px;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg/hero-bg-tablet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-bgc {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/bg/hero-bg-tablet@2x.jpg');
  }
}

/* -----------------Hero-desktop------------------ */

@media screen and (min-width: 1200px) {
  .hero {
    font-weight: 600;

    margin-bottom: 48px;
  }

  .hero-bgc {
    padding-bottom: 188px;
    padding-top: 188px;
    max-width: 1440px;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px),
  (min-resolution: 192dpi) and (min-width: 1200px),
  (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero-bgc {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/bg/hero-bg@2x.jpg');
  }
}
/* ================/HERO=========================== */
/* ===============Adventages====================== */

.icon-bg {
  display: none;
}

.page-adventages-container {
  padding-top: 96px;
  padding-bottom: 96px;
}
.main-text {
  width: 100%;
  max-width: 396px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark);
  text-align: center;
}

.adventages-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.advantage {
  margin-bottom: 8px;
}

/* ---------------Adventages-tablet--------- */
@media screen and (min-width: 768px) {
  .main-text {
    width: 356px;
  }

  .main-title {
    text-align: start;
  }

  .adventages-list {
    flex-direction: row;
    flex-wrap: wrap;

    column-gap: 24px;
    row-gap: 72px;
  }

  .advantage-item {
    flex-basis: calc((100% - 2 * 72px) / 2);
  }
}

/* --------------Adventages-desktop---------------- */

@media screen and (min-width: 1200px) {
  .main-text {
    width: 264px;
    font-weight: 500;
  }

  .main-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    margin-bottom: 8px;
  }

  .page-adventages-container {
    padding-top: 120px;
    padding-bottom: 0;
  }

  .advantage {
    margin-top: 8px;
  }

  .adventages-list {
    display: flex;
    gap: 24px;
  }

  .advantage-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .icon-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background: var(--light);
    border-radius: 4px;
  }
}
/* ===============/Adventages====================== */

/* ===============Product============================ */
.product {
  display: none;
}

@media screen and (min-width: 1200px) {
  .product {
    display: block;
  }

  .product-list {
    display: flex;
    gap: 24px;
  }

  .product-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  .page-container {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .section-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: var(--dark);

    margin-bottom: 72px;
  }
}
/* ===============/Product============================ */

/* ===============Team================================= */
.team-bgc {
  background-color: var(--light);
}

.page-container {
  padding-top: 96px;
  padding-bottom: 128px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--dark);

  margin-bottom: 72px;
}

.member-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.member-card {
  text-align: center;
  background-color: var(--white);

  padding-top: 32px;
  padding-bottom: 32px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);

  margin-bottom: 8px;
}

.team-text {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;

  margin-top: 8px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand);
}

.social-icon {
  fill: var(--light);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--pressed-state);
}

/* --------------Team-tablet------------------------ */

@media screen and (min-width: 768px) {
  .page-container {
    padding-bottom: 104px;
  }

  .member-list {
    gap: 64px 24px;
  }

  .team-title {
    text-align: center;
  }
}

/* ===============/Team================================= */

/* ==============Customers============================== */
.page-customers-container {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-list {
  flex-wrap: wrap;
  display: flex;
  gap: 72px 16px;
}

.customers-item {
  flex: 1 1 calc((100% - 36px) / 2);
  height: 88px;
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  fill: #8e8f99;
}

/* --------------Customers-tablet------------------- */
@media screen and (min-width: 768px) {
  .page-customers-container {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .customers-list {
    gap: 72px 24px;
  }

  .customers-item {
    flex: 1 1 calc((100% - 72px) / 3);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers-container-tablet {
    width: 552px;
    margin: 0 auto;
  }
}

/* ---------------Customers-Desktop-------------------- */
@media screen and (min-width: 1200px) {
  .page-customers-container {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-list {
    flex-wrap: nowrap;
  }

  .customers-item {
    width: calc((100% - 120px) / 6);
  }
}

/* ==============/Customers========================== */
/* ==============Footer============================ */
@media screen and (max-width: 767px) {
  .footer-social-list {
    margin-bottom: 72px;
  }

  .footer-studio {
    display: block;
    text-align: center;
  }

  .footer-text {
    width: 268px;
    margin: 0 auto;
  }

  .footer-social {
    margin-top: 72px;
  }

  .footer-social-list {
    margin-bottom: 72px;
  }

  .footer-input {
    margin-bottom: 16px;
  }

  .footer-studio {
    margin-bottom: 16px;
  }

  .footer-description {
    margin-bottom: 16px;
    text-align: center;
  }
}

.footer {
  background-color: var(--dark);
  padding-bottom: 96px;
  padding-top: 96px;
}

.studio {
  color: var(--light);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent);
}

.footer-text-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  text-align: center;
}

.footer-social-list {
  display: flex;
  gap: 16px;
  justify-content: center;

  margin-top: 16px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--transition);
}

.footer-social-icon {
  fill: var(--light);
}

.footer-description {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}

.footer-input {
  display: block;
  max-width: 396px;
  width: 100%;
  height: 40px;
  padding-left: 16px;

  color: var(--white);
  background-color: rgba(33, 150, 243, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
  display: flex;
  gap: 16px;
  border: 0;

  width: 165px;
  height: 40px;
  margin: 0 auto;
  padding: 8px 24px;

  background: var(--primary-brand);
  border-radius: 4px;
  letter-spacing: 0.04em;

  transition: background-color var(--transition), box-shadow var(--transition);
}

.footer-text-form {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
}

/* --------------Footer-tablet-------------------- */
@media screen and (min-width: 768px) {
  .page-footer-container {
    display: flex;
  }

  .footer-text {
    margin-top: 16px;
    width: 264px;
  }

  .web {
    margin-right: 24px;
  }

  .footer-text-media {
    text-align: start;
  }

  .footer-input {
    width: 264px;
  }

  .footer-description {
    margin-bottom: 16px;
  }

  .footer-form {
    display: flex;
    align-items: flex-end;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-btn {
    margin-left: 24px;
  }

  .page-footer-container {
    width: 552px;
    flex-wrap: wrap;
  }

  .footer-description {
    margin-top: 72px;
  }
}

/* -------------footer-desktop------------------------ */

@media screen and (min-width: 1200px) {
  .footer {
    padding-bottom: 100px;
    padding-top: 100px;
  }

  .footer-studio-logo {
    margin-right: 0;
  }

  .web {
    margin-right: 120px;
  }

  .footer-social-link:hover,
  .footer-social-link:focus {
    background-color: var(--success);
  }

  .footer-social {
    padding-right: 80px;
  }

  .footer-form {
    gap: 24px;
  }

  .footer-btn {
    flex-direction: row;
    justify-content: center;
  }

  .footer-btn:hover,
  .footer-btn:focus {
    background-color: var(--pressed-state);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}
/* ==============/Footer============================ */
/* ===============Modal============================= */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 100;

  opacity: 1;
  transition: opacity var(--transition), visibility var(--transition);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 408px;
  min-height: 576px;

  padding-left: 24px;
  padding-right: 24px;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.btn-modal {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;

  padding: 0;
  border-radius: 50%;
  background: var(--accent);
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: background-color var(--transition), fill var(--transition);
}

.btn-modal:hover,
.btn-modal:focus {
  background-color: var(--pressed-state);
  fill: var(--white);
}

.icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-action {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--dark);

  margin-top: 72px;
  margin-bottom: 16px;
}

@media screen and (max-width: 479px) {
  .modal {
    width: 392px;
    min-height: 586px;
  }
}

@media screen and (max-width: 392px) {
  .modal {
    width: 300px;
  }
}
/* -------------Form----------------- */

.modal-form {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.modal-form-input {
  width: 100%;
  height: 40px;

  padding-left: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: #fcfcfc;

  transition: border-color var(--transition);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--primary-brand);
}

.modal-field {
  margin-bottom: 16px;
}

.modal-description {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
}

.modal-wrapper {
  display: block;
  position: relative;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);

  transition: fill var(--transition);
}

.modal-form-input:focus + .modal-icon {
  fill: var(--primary-brand);
}

.modal-text-message {
  resize: none;
  width: 100%;
  height: 120px;
  padding-top: 8px;
  padding-left: 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: #fcfcfc;
  transition: border-color var(--transition);
}

.modal-text-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-text-message:focus {
  outline: none;
  border-color: var(--primary-brand);
}

.policy-label {
  display: flex;
  align-items: center;

  margin-bottom: 24px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.33px;
  letter-spacing: 0.04em;
  color: #757575;
}

@media screen and (max-width: 392px) {
  .policy-label {
    line-height: normal;
  }
}

.privacy-policy-color {
  color: var(--primary-brand);
}

.policy-label::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;

  margin-right: 8px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  cursor: pointer;
}

.policy-check:checked + .policy-label::before {
  background-color: var(--pressed-state);
  background-image: url(../images/vector.svg);
  background-size: contain;
  background-origin: border-box;
}

.policy-check:focus + .policy-label::before {
  background-color: var(--pressed-state);
  background-image: url(../images/vector.svg);
  background-size: contain;
  background-origin: border-box;
}

.send-btn {
  margin-bottom: 26px;
  padding: 16px 32px;
  align-self: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  width: 169px;
  height: 56px;
  background-color: var(--primary-brand);
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;

  transition: background-color var(--transition), box-shadow var(--transition);
}

.send-btn:hover,
.send-btn:focus {
  background-color: var(--pressed-state);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
/* ===============/Modal============================= */
